<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://github.com/Elta3lab/movie_app"><em>Movies App</em></a> is a
  <a href="https://github.com/Elta3lab/movie_app">Web Application</a> created to browse trending movies, search for your favorite movie and know more info about it. The app was created as a task for a junior software engineer who's seeking a job vacancy in
  <a href="http://lynks.com">Lynks</a> Company.
</p>