<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Check on The Movies App source code on the
  <a href="https://github.com/Elta3lab/movie_app">Github Project Repo</a>.
  This app was created using ruby on rails all data are fetched from
  <a href="https://themoviedb.org"><em>themoviedb.org</em>
</a>.
</p>