<% provide(:title, "Dashboard") %>
<h1>Welcome to The Movies App</h1>
<form action="/trendingmovies">
  <input type="submit" value="Go to Top Trending Movies"/>
</form>
<form action="/searchresults">
  or Search For a movie: <input type="text" name="name" required><br><br>
  <input type="submit" value="search">
</form> 