<h1>Trending Movies</h1>

<% if !@genres.results.empty? %>
  <% @genres.results.each do |genre| %>
    <h2><%=genre.original_title%></h2>
  <% end %>
  <form action="/trendingmovies">
    <input type="hidden" name="page" value=<%=@genres.page+1%>>
    <input type="submit" value=<%=@genres.page%>>
  </form>
<% else %>
   <h2> there's no such page </h2>
   <form action="/trendingmovies">
    <input type="submit" value="Go back To The List" />
  </form>
<% end %>



 