<footer class="footer">
  <small>
    The <a href="https://github.com/Elta3lab/movie_app">Movies Web App</a>
    by <a href="https://www.linkedin.com/in/ahmedfouadelta/">Ahmed Fouad</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.linkedin.com/in/ahmedfouadelta/">News</a></li>
    </ul>
  </nav>
</footer>